<h1>Rotten Mangoes</h1>
<%= link_to "Submit a movie!", new_movie_path %>
<hr>
<%= form_tag(movies_path, method: "get") do %>
  <%= label_tag(:search, "Search Title or Director:") %>
  <%= text_field_tag(:search) %>
  <%= select_tag(:runtime, options_for_select(
      ['','Under 90 minutes','Between 90 and 120 minutes', 'Over 120 minutes'])) %>

  <%= submit_tag("Search") %>
<% end %>
<hr>

<%= render partial: "movie", locals: {movies: @movies} %>