<h2>Admins/users</h2>
<%= link_to "Back to all movies", movies_path %><br/>

<%= paginate @users %>

<% @users.each do |user| %>
   <h3><%= user.full_name %></h3>
   <h3><%= user.email %></h3>
   <h3><%= user.created_at %></h3>
   </br>
<% end %>